* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(40, 40, 40, 0.9)
}

button {
    border-radius: 8;
	font-family:  "Iosevka";
	font-weight: bold;
    color: #ebdbb2;
	background-color: #1E1E1E;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	margin: 5px;
}

button:focus, button:active, button:hover {
	background-color: #3700B3;
	outline-style: none;
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#logout:hover, #logout:active, #logout:focus {
	background-color: #bdae93;
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#suspend:hover, #suspend:active, #suspend:focus {
	background-color: #458588;
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#hibernate:hover, #hibernate:active, #hibernate:focus {
	background-color: #d79921;
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#shutdown:hover, #shutdown:active, #shutdown:focus {
	background-color: #cc241d;
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}

#reboot:hover, #reboot:active, #reboot:focus {
	background-color: #d65d0e;
}

#bios {
    background-image: image(url("/usr/share/wlogout/icons/bios.png"), url("/usr/local/share/wlogout/icons/bios.png"));
}

#bios:hover, #bios:active, #bios:focus {
	background-color: #b16286;
}
