* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: NotoSans Nerd Font, Iosevka;
    font-size: 12px;
    font-weight: bold;
}

window#waybar {
    border: 2px solid #a89984;
    background: #3c3836;
    border-radius: 10px;
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-notification,
#bluetooth,
#mpd,
#custom-arch,
#workspaces {
    border-radius: 5px;
    color: #ebdbb2;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0px 10px 0px 10px;
    margin-right: 0px;
}


#workspaces button {
    background-color: #7c6f64;
    margin-right: 2px;
    color: #ebdbb2;
    font-weight: bold;
    transition: 0.3s;
}

#workspaces button:hover {
    background: #a89984;
    transition: 0.3s;
    
}

#workspaces button.active {
    background-color: #a89984;
}

#workspaces button.urgent {
    background-color: #fb4934;
}

#window {
    font-weight: bold;
    font-style: italic;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #custom-arch {
    margin-left: 8px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #custom-notification {
    margin-right: 8px;
}

#clock {
    background-color: #d65d0e;
    transition: 0.3s;
    margin-right: 8px;
}

#clock:hover {
    background-color: #fe8019;
    transition: 0.3s;
}

#bluetooth {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0px;
    background-color: #98971a;
    transition: 0.3s;
}

#bluetooth:hover {
    background-color: #b8bb26;
    transition: 0.3s;
}

#bluetooth.disabled {
    background-color: #cc241d;
    transition: 0.3s;
}

#bluetooth.disabled:hover {
    background-color: #fb4934;
    transition: 0.3s;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#power-profiles-daemon {
    border-radius: 0;
    padding-left: 8px;
    padding-right: 15px;
    transition: 0.3s;
}

#power-profiles-daemon.performance {
    background-color: #cc241d;
    transition: 0.3s;
}
#power-profiles-daemon.performance:hover {
    background-color: #fb4934;
    transition: 0.3s;
}

#power-profiles-daemon.balanced {
    background-color: #458588;
    transition: 0.3s;
}
#power-profiles-daemon.balanced:hover {
    background-color: #83a598;
    transition: 0.3s;
}

#power-profiles-daemon.power-saver {
    background-color: #689d6a;
    transition: 0.3s;
}
#power-profiles-daemon.power-saver:hover {
    background-color: #8ec07c;
    transition: 0.3s;
}

label:focus {
    background-color: #000000;
}

#cpu {
    margin-left: -4px;
    background-color: #458588;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-right: 20px;
}

#memory {
    background-color: #b16286;
    border-radius: 0px;
    padding-right: 23px;
}

#network {
    padding-right: 12px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #98971a;
    margin-right: 8px;
}
#network:hover {
    background-color: #b8bb26;
    transition: 0.3s;
}

#network.disconnected {
    background-color: #cc241d;
    transition: 0.3s
}

#network.disconnected:hover {
    background-color: #fb4934;
    transition: 0.3s
}

#pulseaudio {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #98971a;
    transition: 0.3s;
    padding-right: 15px;
}

#pulseaudio.muted {
    background-color: #cc241d;;
}

#pulseaudio:hover {
    background-color: #b8bb25;
    transition: 0.3s;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#temperature {
    background-color: #98971a;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

#temperature.critical {
    background-color: #cc241d;
}

#tray {
    background-color: #7c6f64;
    margin-right: 8px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #a89984;
}

#custom-notification {
    font-family: "NotoSans Nerd Font";
    background-color: #d79921;
    transition: 0.3s;
    padding-right: 13px;
}

#custom-notification:hover {
    background-color: #fabd2f;
    transition: 0.3s;
}

#custom-arch {
    padding-left: 10px;
    padding-right: 13px;
    background-color: #1793d1;
    margin-right: -2px;
}