window {
    border-radius: 10px;
    margin: 0px;
    border: 2px solid #928374;
    background-color: #282828;
}
#input {
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: #f8f8f2;
    background-color: #3c3836;
    box-shadow: #3c3836;
    margin-bottom: 15px;
}

#input:focus {
    color: #ebdbb2;
    box-shadow: none;
}

#inner-box {
    margin: 2px;
    border: none;
    background-color: #282828;
}

#outer-box {
    margin: 10px;
    border: none;
    background-color: #282828;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ebdbb2;
} 

#entry.activatable #text {
    color: #282828;
}

#entry > * {
    color: #ebdbb2;
    transition: 0.3s;
}


#entry:selected {
    border-radius: 5px;
    background-color: #665c54;
    outline: none;
    transition: 0.3s;
}

#entry:selected #text {
    font-weight: bold;
    transition: 0.3s;
}
