/* General */

* {
    font-family: Iosevka Term, Iosevka NF;
    font-size: 13px;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
    border: 0px solid;
}

/* Waybar */
window#waybar {
    background: rgba(40, 40, 40, 0.0);
}

    window#waybar > box {
        background-color: rgba(40, 40, 40, 0.9);
        box-shadow: 0px 2px 4px 0px #161819;
    }

    window#waybar.empty #window {
        background-color: transparent;
    }

/* Buttons */
button {
    box-shadow: inset 0 -3px transparent;
}
    button:hover {
        background: inherit;
    }

/* Modules Class */
.modules-left > widget:first-child > #system{
    margin-left: 5px;
}
    /* Second Monitor */
    .modules-left > widget:first-child > #workspaces{
        margin-left: 5px;
    }

.modules-right > widget:last-child > #custom-notification {
    margin-right: 5px;
}
    /* Second Monitor */
    .modules-right > widget:last-child > #cpu {
        margin-right: 5px;
    }

/* General styling for modules */
#clock, #cpu, #temperature, #memory, #network, #pulseaudio, #workspaces, #window, #power-profiles-daemon, #custom-notification, #custom-arch, #custom-btop, #custom-poweroff, #custom-reboot, #custom-bios, #custom-sleep, #custom-logout, #language {
    background-color: #282828;
    border-bottom: 3px solid #ebdbb2;
    color: #ebdbb2;
    font-weight: bold;
}

/* Single Modules */
#clock {
    padding: 0px 7px 0px 7px;
}

#tray {
    margin-left: 3px;
}

#cpu {
    padding: 0px 13px 0px 8px;
    color: #a89984;
    border-bottom: 3px solid #a89984;
}

#temperature {
    padding: 0px 8px 0px 8px;
    color: #a89984;
    border-bottom: 3px solid #a89984;
}

#memory {
    padding: 0px 13px 0px 8px;
    color: #a89984;
    border-bottom: 3px solid #a89984;
}

#network {
    padding: 0px 13px 0px 10px;
    color: #458588;
    border-bottom: 3px solid #458588;
}

#pulseaudio {
    padding: 0px 9px 0px 8px;
    color: #b16296;
    border-bottom: 3px solid #b16296;
}

#workspaces {
    padding: 0px 5px 0px 5px;
    transition: 0.3s;
    color: #d65d0e;
    border-bottom: 3px solid #d65d0e;
}
    #workspaces button {
        color: #a89984;
        transition: 0.3s;
    }
        #workspaces button.active {
            color: #d65d0e;
            transition: 0.3s;
        }

#window {
    background-color: transparent;
    padding: 0px 8px 0px 8px;
    border-bottom: 3px solid transparent;
}

#power-profiles-daemon {
    color: #d79921;
    padding: 0px 8px 0px 8px;
    transition: 0.4s;
    border-bottom: 3px solid #fabd2f;
}
    #power-profiles-daemon:hover {
        color: #fabd2f;
        transition: 0.4s;
        border-bottom: 3px solid #fabd2f;
    }
        #power-profiles-daemon.balanced {
            color: #458588;
            transition: 0.3s;
            border-bottom: 3px solid #83a598;
        }
            #power-profiles-daemon.balanced:hover {
                color: #83a598;
                transition: 0.3s;
                border-bottom: 3px solid #83a598;
            }
        #power-profiles-daemon.power-saver {
            color: #689d6a;
            transition: 0.3s;
            border-bottom: 3px solid #8ec07c;
        }
            #power-profiles-daemon.power-saver:hover {
                color: #8ec07c;
                transition: 0.3s;
                border-bottom: 3px solid #8ec07c;
            }

/* Custom Modules */
#custom-notification {
    padding: 0px 8px 0px 5px;
    color: #d79921;
    border-bottom: 3px solid #d79921;
    transition: 0.3s;
}

#custom-notification:hover {
    color: #fabd2f;
    border-bottom: 3px solid #fabd2f;
    transition: 0.3s;
}

#custom-arch {
    color: #1793d1;
    padding: 0px 8px 0px 5px;
    transition: 0.3s;
    border-bottom: 3px solid #1793d1;
}
    #custom-arch:hover {
        color: #1ba8ef;
        transition: 0.3s;
        border-bottom: 3px solid #1ba8ef;
    }

#custom-poweroff {
    padding: 0px 8px 0px 8px;
    color: #665c54;
    background-color: transparent;
    transition: 0.3s;
    border-bottom: 0px;
}
    #custom-poweroff:hover {
        transition: 0.3s;
        color: #cc241d;
    }

#custom-reboot {
    color: #665c54;
    background-color: transparent;
    transition: 0.3s;
    padding: 0px 8px 0px 8px;
    border-bottom: 0px;
}
    #custom-reboot:hover {
        color: #fe8019;
        transition: 0.3s;
    }

#custom-bios {
    color: #665c54;
    padding: 0px 8px 0px 8px;
    background-color: transparent;
    transition: 0.3s;
    border-bottom: 0px;
}
    #custom-bios:hover {
        color: #d3869b;
        transition: 0.3s;
    }

#custom-sleep {
    color: #665c54;
    padding: 0px 8px 0px 2px;
    background-color: transparent;
    transition: 0.3s;
    border-bottom: 0px;
}
    #custom-sleep:hover {
        color: #458588;
        transition: 0.3s;
    }

#custom-logout {
    color: #665c54;
    padding: 0px 8px 0px 8px;
    background-color: transparent;
    padding-right: 10px;
    transition: 0.3s;
    border-bottom: 0px;
}
    #custom-logout:hover { 
        color: #bdae93;
        transition: 0.3s;
    }