/* General */

* {
    font-family: IosevkaTerm Nerd Font Propo;
    font-size: 13px;
    font-weight: bold;
    color: #ebdbb2;
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    text-shadow: none;
    border: 0px solid;
}

#clock, #network,#custom-notification, #power-profiles-daemon, #workspaces, #pulseaudio, #tray {
    color: #ebdbb2;
    /* background-color: black; */
    border-radius: 5px;
    padding: 2px 6px 2px 6px;
}

.modules-right {
    background-color: #3c3836;
}
.modules-center {
    background-color: #3c3836;
}
.modules-left {
    background-color: #3c3836;
}

/* Bar */
window#waybar {
    border-radius: 0px;
    transition: 0.2s;
}

window#waybar > box {
    background-color: transparent;
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 3px;
}
    window#waybar.empty #window {
        background-color: transparent;
        transition: 0.2s;
    }

/* Clock */
#clock {
    transition: 0.2s;
}

/* Network */
#network {
    color: #b8bb26;
    transition: 0.2s
}
    #network.disconnected {
        color: #fb4934;
        transition: 0.2s;
    }

/* Power Profiles */
#power-profiles-daemon.performance {
    color: #fabd2f
}
#power-profiles-daemon.balanced {
    color: #83a598
}
#power-profiles-daemon.power-saver {
    color: #8ec07c
}

/* Tray */
#tray {
}

#workspaces {
}