* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(12, 12, 12, 0.9);
}

button {
    border-radius: 10;
	text-decoration-color: #FFFFFF;
    color: #FFFFFF;
	background-color: #3c3836;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;;
}

button:focus, button:active {
	background-color: #ffffff;
	outline-style: none;
}

#lock, #logout, #suspend, #shutdown, #reboot {
}

#logout {
    background-image: image(url("/home/jschmidt/.config/wlogout/icons/logout.png"), url("/home/jschmidt/.config/wlogout/icons/logout.png"));
	transition: 200ms;
}

#logout:hover, #logout:focus {
    background-image: image(url("/home/jschmidt/.config/wlogout/icons/logout.png"), url("/.config/wlogout/icons/logout.png"));
	background-color: #b16286;
	transition: 200ms;
}

#suspend {
    background-image: image(url("/home/jschmidt/.config/wlogout/icons/suspend.png"), url("/.config/wlogout/icons/suspend.png"));
	transition: 200ms;
}

#suspend:hover, #suspend:focus {
	background-image: image(url("/home/jschmidt/.config/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
	background-color: #d65d0e;
	transition: 200ms;
}

#shutdown {
    background-image: image(url("/home/jschmidt/.config/wlogout/icons/shutdown.png"), url("/home/jschmidt/.config/wlogout/icons/shutdown.png"));
	transition: 200ms;
}

#shutdown:hover, #shutdown:focus {
	background-image: image(url("/home/jschmidt/.config/wlogout/icons/shutdown.png"), url("/home/jschmidt/.config/wlogout/icons/shutdown.png"));
	background-color: #cc241d;
	transition: 200ms;
}
#reboot {
    background-image: image(url("/home/jschmidt/.config/wlogout/icons/reboot.png"), url("/home/jschmidt/.config/wlogout/icons/reboot.png"));
	transition: 200ms;
}

#reboot:hover, #reboot:focus {
    background-image: image(url("/home/jschmidt/.config/wlogout/icons/reboot.png"), url("/home/jschmidt/.config/wlogout/icons/reboot.png"));
	background-color: #d79921;
	transition: 200ms;
}
